<div class="alert alert-danger"><%= message %></div>

<div>
  <h1>Profile Page</h1>
  <% if(user != undefined){ %>
    <h2>Below is the data sent by GitHub</h2>
    <pre>
      <%= user.gitHub %>
    </pre>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/auth/github">Login with GitHub</a>
  <% } %>

  languageCount
  <% for (var key in languageCount) { %>
    <% if (languageCount.hasOwnProperty(key)) { %>

      <p><%=key%> : <%=languageCount[key]%></p>
    <%}%>
  <%}%>

  <% repos.forEach(function(repo, i){ %>
    <div>
      <a href="/repo/<%=repo.name%>"><%= repo.name %></a>
    </div>
  <%})%>
</div>
