<div class="alert alert-danger"><%= message %></div>
<div id="profile-container" class="container">
  <section id="profile-header">
    <h1><%= user.gitHub.username %></h1>
    <div class="row">
      <div class="col s5">
        <div id="avatar-container">
          <img id="github-avatar" src="<%= user.avatarUrl %>" alt="<%= user.gitHub.username %>">
        </div>
      </div>
      <div class="col s7">
        <div class="" id="profile-info">
          <p>Name: <span><%= user.name ? user.name : `N/A`%></span></p>
          <p>Location: <span><%= user.location ? user.location : `N/A`%></span></p>
          <p>Repos: <span><%= repoCount %></span></p>
          <p>Public Repos: <span><%= user.publicRepos %></span></p>
          <p>Gists: <span><%= user.publicGists %></span></p>
          <a target="_blank" class="btn" href="<%= user.profileUrl %>">GitHub Profile</a>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#profile-stats">Profile Stats</a></li>
        <li class="tab col s3"><a href="#repos">Repos</a></li>
      </ul>
    </div>
    <section id="profile-stats" class="col s12">
      <h3>Profile Stats</h3>
      <section>
        <h4>Repo Language Breakdown</h4>
        <div class="" id="language-week-breakdown">
        </div>
        <button class="btn" id="graph-show-button">Show More</button>
      </section>
      <section>
        <h4>Social Status</h4>
        <article class="social-stats-container" id="followers-container">
          <h3>Follower History</h3>
          <div id="followers-chart" style="width: 100%; height: 500px"></div>
        </article>
        <article class="social-stats-container" id="following-container">
          <h3>Following History</h3>
          <div id="following-chart" style="width: 100%; height: 500px"></div>
        </article>
      </section>
    </section>
    <section id="repos" class="col s12">
      <h3>Repo List</h3>
      <div class="collection">
        <% repos.forEach(function(repo, i){ %>
          <a class="collection-item" href="/repo/<%=repo.name%>">
            <span><%= repo.name %></span>
            <%= repo.description %>
          </a>
        <%})%>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/profile.js" charset="utf-8"></script>
